{% load static %}
{% load humanize %}

<!-- Listing 1 -->
<div class="col-md-4 mb-4">
    <div class="card listing-preview">
    <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
    <div class="card-img-overlay">
        <h2>
            <!-- Price Badge -->
            {% if listing.rental and listing.for_sale %}
            <span class="badge badge-secondary text-white">Ksh {{ listing.rent_price | intcomma }}</span>
            {% elif listing.rental %}
            <span class="badge badge-secondary text-white">Ksh {{ listing.rent_price | intcomma }}</span>
            {% elif listing.for_sale %}
            <span class="badge badge-secondary text-white">Ksh {{ listing.buying_price | intcomma }}</span>
            {% endif %}
        </h2>
    </div>
    <div class="card-body">
        <div class="listing-heading text-center">
        <h4 class="text-primary">{{ listing.title }}</h4>
        <p class="text-primary">
            <i class="fa fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.locality }}, {{ listing.estate }}</p>
        </div>
        <hr>
        <div class="row py-2 text-primary">
        <div class="col-6">
            <i class="fa fa-bed text-secondary"></i> Bedrooms: {{ listing.bedrooms }}</div>
        <div class="col-6">
            <i class="fa fa-car text-secondary"></i> Parking: {{ listing.parking_space }}</div>
        </div>
        <hr>
        <div class="row text-primary text-center">
            {% if listing.rental and listing.for_sale %}
            <div class="col-12">Available for Rent or Purchase</div>
            {% elif listing.rental %}
            <div class="col-12">Available for: Rent</div>
            {% elif listing.for_sale %}
            <div class="col-12">Available for: Purchase</div>
            {% endif %}
            
        </div>
        <div class="row text-primary text-center pb-2">
            <div class="col-12">
                <i class="fa fa-clock text-secondary text-center"></i>{{ listing.list_date | timesince }} ago</div>
        </div>
        <hr>
        <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
    </div>
    </div>
</div>

